---
import { MarqueeDemo } from "@/components/MarqueeCustom";

---

<div class="bg-primary-red pb-8">
    <p class="font-WidyBold text-xl lg:text-2xl text-center mb-8">Confiaron en nosotros</p>
    <MarqueeDemo client:load/>
</div>