---
import SocialNetworks from "../components/SocialNetworks.astro";

type TsocialNetwork={
    href: string
    imageSrc: string
    imageAlt: string
}

const socialNetworks : TsocialNetwork[] = [
    {
        href: "https://www.facebook.com/",
        imageSrc: "public/socialNetworks/facebook.svg",
        imageAlt: "facebook",
    },
    {
        href: "https://www.facebook.com/",
        imageSrc: "public/socialNetworks/insta.svg",
        imageAlt: "facebook",
    },
    {
        href: "https://www.facebook.com/",
        imageSrc: "public/socialNetworks/twitter.svg",
        imageAlt: "facebook",
    },
    {
        href: "https://www.facebook.com/",
        imageSrc: "public/socialNetworks/tiktok.svg",
        imageAlt: "facebook",
    },
    {
        href: "https://www.facebook.com/",
        imageSrc: "public/socialNetworks/youtube.svg",
        imageAlt: "facebook",
    }
]
---

<div class="bg-primary-red p-8 py-20 lg:px-32 grid grid-cols-12 ">
    <div class="md:w-32 mb-8 col-span-12 text-center grid place-items-center">
        <div class="text-center">
            <img src="public/logoonly.svg" class="w-24" alt="">
        </div>
        <p class="font-WidyBold text-xs">2024 ELE &CE</p>
    </div>
  
    <div class="columns-5  col-span-12 md:w-60">
        {socialNetworks.map(network => (
            <div class="col-span-1">
            <SocialNetworks href={network.href} imageAlt={network.imageAlt} imageSrc={network.imageSrc}/>
             </div>
        ))}
    </div>

    <div class="text-sm mt-8 font-HankenGrotesk col-span-12 text-center">
        <a class="mr-4" href=""><u>Politica de privacidad</u></a>
        <a href=""><u>Cookies</u></a>
    </div>
   
</div>