---
import Card from "../components/Card.astro"

interface IInfoCard {
	title: string
	price: string
	description: string
	features: Array<{
        iconSrc?: string
        description: string
    }>
}

const infoCardEsenssial: IInfoCard[] = [
	{
		title: "Esencial",
		price: "6,275",
		description: "Para emprendedores, negocios familiares o pequeñas empresas que comienzan",
		features:[
            {
                iconSrc:"check.svg",
                description:"Estrategia MKT personalizada",
            },
            {
                iconSrc:"check.svg",
                description:"Facebook",
            },
            {
                iconSrc:"check.svg",
                description:"Instagram (sólo feed)",
            },
            {
                iconSrc:"check.svg",
                description:"Creación de 1 campaña (Meta Ads, presupuesto se paga directo a Meta, no incluido)",
            },
            {
                iconSrc:"check.svg",
                description:"Bot automatico para respuesta de comentarios y mensajes",
            },
            {
                iconSrc:"check.svg",
                description:"Diseños para 12 publicaciones y 2 reel",
            },
            {
                iconSrc:"check.svg",
                description:"Redacción de contenidos originales",
            },
            {
                iconSrc:"check.svg",
                description:"Programación de publicaciones",
            },
            {
                iconSrc:"x.svg",
                description:"Community Manager",
            },
        ]  
	},
]
const infoCardAdvance: IInfoCard[] = [
	{
		title: "Avanzado",
		price: "8,955",
		description: "Profesionales independientes, pequeñas empresas con más de 5 años en el mercado",
		features:[
            {
                iconSrc:"check.svg",
                description:"Estrategia MKT personalizada",
            },
            {
                iconSrc:"check.svg",
                description:"Facebook",
            },
            {
                iconSrc:"check.svg",
                description:"Instagram (feed + stories)",
            },
            {
                iconSrc:"check.svg",
                description:"Creación de 3 campañas (Meta Ads presupuesto se paga directo a Meta, no incluido)",
            },
            {
                iconSrc:"check.svg",
                description:"Bot automatico para respuesta de comentarios y mensajes",
            },
            {
                iconSrc:"check.svg",
                description:"Diseños para 15 publicaciones + 4 reels",
            },
            {
                iconSrc:"check.svg",
                description:"Redacción de contenidos originales",
            },
            {
                iconSrc:"check.svg",
                description:"Programación de publicaciones",
            },
            {
                iconSrc:"check.svg",
                description:"Community Manager (lunes a viernes de 9 a 6 pm)",
            },
        ]  
	},
]
const infoCardPremium: IInfoCard[] = [
	{
		title: "Premium",
		price: "11,721",
		description: "Para empresas medianas y grandes",
		features:[
            {
                iconSrc:"check.svg",
                description:"Estrategia MKT personalizada",
            },
            {
                iconSrc:"check.svg",
                description:"Facebook",
            },
            {
                iconSrc:"check.svg",
                description:"Instagram (feed + stories)",
            },
            {
                iconSrc:"check.svg",
                description:"Creación de 5 campañas (Meta Ads, presupuesto se paga directo a Meta, no incluido)",
            },
            {
                iconSrc:"check.svg",
                description:"Bot automatico para respuesta de comentarios y mensajes",
            },
            {
                iconSrc:"check.svg",
                description:"Diseños para 20 publicaciones",
            },
            {
                iconSrc:"check.svg",
                description:"Redacción de contenidos originales",
            },
            {
                iconSrc:"check.svg",
                description:"Programación de publicaciones",
            },
            {
                iconSrc:"check.svg",
                description:"Community Manager (lunes a viernes de 9 a 6pm )",
            },
            {
                iconSrc:"check.svg",
                description:"Prospección de leads",
            },
            {
                iconSrc:"check.svg",
                description:"Edición de 6 reels (máximo 45s)",
            },
            {
                iconSrc:"check.svg",
                description:"comentarios y mensajes",
            },
        ]  
	},
]
---

<div class="bg-primary-red py-16 px-2 lg:px-40">
    <p class="text-4xl mb-16 font-WidyThin">Planes y <span class="font-WidyBold">servicios</span></p>
    <div class="grid grid-cols-12">
        <Card className="col-span-12 md:col-span-6  xl:col-span-4" src={infoCardEsenssial}></Card>
        <Card className="col-span-12 md:col-span-6  xl:col-span-4"  src={infoCardAdvance}></Card>
        <Card className="col-span-12 md:col-span-6 xl:col-span-4"  src={infoCardPremium}></Card>
    </div>
   
</div>